[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "data"]
	path = data
	url = https://github.com/onqtam/gamedata.git
[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "third_party/ucm"]
	path = third_party/ucm
	url = https://github.com/onqtam/ucm.git
[submodule "third_party/dynamix"]
	path = third_party/dynamix
	url = https://github.com/iboB/dynamix.git
[submodule "third_party/sajson"]
	path = third_party/sajson
	url = https://github.com/iboB/sajson.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/tinygizmo"]
	path = third_party/tinygizmo
	url = https://github.com/ddiakopoulos/tinygizmo.git
[submodule "third_party/yama"]
	path = third_party/yama
	url = https://github.com/iboB/yama.git
[submodule "third_party/mustache"]
	path = third_party/mustache
	url = https://github.com/kainjow/Mustache.git
